html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #3a3a3a;
  background-color: #FAFAFA;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #CACACA;
  background-color: #FFFFFF;
}

.cell-active {
  background-color: #000;
}

.board-row {
  height: 50px;
}

.buttons-container {
  margin-top: 10px;
}

.game-button,
.game-button-running {
  display: block;
  color: white;
  width: 312px;
  height: 30px;
  cursor: pointer;
  margin-top: 2px;
  border-radius: 4px;
  outline: none;
  background-color: #52bfe0;
}

.game-button-running {
  background-color: #616161;
}
